<%- old_value = @note.getComment %>
<%= form_tag( note_path(@note.id), method: form_method, id: form_id, class: form_class ) do %>

    <% if @note.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

          <ul>
            <% @note.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= hidden_field( :note, :old_value,     :value => old_value ) %>
    <%= hidden_field( :note, :collection_id, :value => collection_id ) %>
    <%= hidden_field( :note, :item_id,       :value => item_id ) %>

    <div class="field">
      <%= label_tag("note_text_#{count}", "Note:") %>
      <%= text_area "note", "new_value", "rows" => 5, :id => "note_text_#{count}", :value => old_value %>
    </div>

    <div class="form-footer">
      <button id="close-note-btn_<%=count%>" class="link_style_button" type="button"
          onclick="$('textarea#note_text_<%=count%>').val('<%=old_value%>');">Reset</button>
      <button id="set-note-btn_<%=count%>" class="link_style_button" type="submit"
          onclick="document.getElementById('cl_loading_spinner').style.visibility = 'visible';">Set Note</button>
    </div>
<% end %>
