<script>
    $(function () { $('#edit-collection-modal').on('shown.bs.modal', function () {
        target.loadingOverlay('remove'); alert('Removed overlay!');})
    });
</script>
<%= form_tag( {controller: form_controller, action: form_action}, method: form_method, id: form_id, class: form_class ) do %>
    <% if @collection.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

          <ul>
            <% @collection.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div id="loading_spinner" class="loading">
      <div class="loading-overlay">
        <p class="loading-spinner">
          <%= image_tag "ld4l_virtual_collection/loading_spinner.gif", class: "loading-spinner-img", alt: "loading..." %>
        </p>
      </div>
    </div>

    <%= hidden_field( :collection, :id ) %>

    <div class="field">
      <%= label_tag("collection_title", "Title") %>
      <%= text_field "collection", "title", "size" => 80, "value" => @collection.title %>
    </div>
    <div class="field">
      <%= label_tag("collection_description", "Description") %>
      <%= text_area "collection", "description", "cols" => 280, "rows" => 5, "value" => @collection.description %>
    </div>

    <div class="modal-footer">
      <button id="close-btn" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button id="submit-btn" class="btn btn-primary" type="submit" onclick="target.loadingOverlay();alert('Hey, I heard you like submitting modals...');">Save changes</button>
    </div>
<% end %>

<script>
    $('#close-btn').on('click', function() {
        document.getElementById("loading_spinner").style.visibility = "visible";
        $("#edit-collection-modal").addClass("vc-disable-modal");
        $("#close-btn").prop("disabled",true);
        $("#submit-btn").prop('disabled',true);
    });
    $('#submit-btn').on('click', function() {
        document.getElementById("loading_spinner").style.visibility = "visible";
        $("#edit-collection-modal").addClass("vc-disable-modal");
        $("#close-btn").prop("disabled",true);
        $("#submit-btn").prop('disabled',true);
    });
</script>