    <div id="documents">

<%
 count = @first_idx

 @items.each do |item|
   item_metadata       = item[:metadata]
   item_proxy_resource = item[:proxy]
   item_proxy_for      = item[:proxy_for]
   item_note           = item[:note]
   item_title          = item_metadata.title
   item_title          = item_metadata.uri  unless item_title && item_title.size > 0

   if item_metadata.is_book?
     doc_class = 'blacklight-book'
     icon = 'fa fa-book'
   elsif item_metadata.is_video?
     doc_class = 'blacklight-video'
     icon = 'fa fa-film'
   elsif item_metadata.is_music?
     doc_class = 'blacklight-musical-recording'
     icon = 'fa fa-music'
   else
     doc_class = ''
     icon = ''
   end
%>
      <div class="document <%= doc_class %> clearfix" data-bibid="<%= item_metadata.local_id %>">
        <div class="iconcover bookcover" id="OCLC:<%= item_metadata.oclc_id %>" data-oclc="<%= item_metadata.oclc_id %>">
          <img class="img-polaroid" src="/assets/cornell/layout/placeholder-item-a090c5301bffac37449f945ee8060d06.png" alt="">
          <i class="<%= icon %>"></i>
        </div>
        <div class="document-data">
          <div class="remove-item">
            <%= link_to 'Remove', collection_item_path(@collection.id,item_proxy_resource.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <h2 class="blacklight-title_display">
            <%= count %>.
            <a href="<%= item_proxy_for %>" data-counter="6"><%= item_title %></a>
            <span class="blacklight-pub_date_display"><%= item_metadata.pub_date %></span>
          </h2>
          <span class="blacklight-title_uniform_display"></span>
          <div class="data-block">
            <span class="blacklight-author_display"><%= item_metadata.author %></span>
            <span class="format">
              <i class="<%= icon %>"></i>
              Book
            </span>
            <span class="blacklight-pub_info_display"><%= item_metadata.pub_info %></span>
            <span class="blacklight-language_display"><%= item_metadata.language %></span>
            <span class="blacklight-edition_display"><%= item_metadata.edition %></span>
          </div>
          <div class="data-block">
            <span class="blacklight-source_display">Source: <%= item_metadata.source %></span>
          </div>
          <%- if item_metadata.local_id && item_metadata.local_id.size > 0 %>
<%-
#          <div id="blacklight-avail-<%= item_metadata.local_id % >" class="status">
#            <i class="fa fa-clock-o" title="Available by request"></i>
#            <span class="location"><%= item_metadata.local_location % ></span>
#            <span class="callnumber"><%= item_metadata.local_callnumber % ></span>
#          </div>
#          <abbr class="unapi-id" title="<%= item_metadata.local_id % >"></abbr>
%>

          <div class="item-notes">
            <a data-toggle="collapse" href="#collapse_<%=count%>" aria-expanded="false" aria-controls="collapse_<%=count%>">
              Show Notes
            </a>
            <div class="collapse" id="collapse_<%=count%>">
              <div class="well">
                <%=
                    @note = item_note
                    render :partial => 'form_item_note',
                           :locals => {
                                   :form_controller => 'notes',
                                   :form_action     => 'update',
                                   :form_class      => 'update_note',
                                   :form_id         => "update_note_#{count}",
                                   :form_method     => 'patch',
                                   :note_div        => "collapse_#{count}",
                                   :collection_id   => @collection.id,
                                   :item_id         => item_proxy_resource.id,
                                   :count           => count }
                %>
              </div>
            </div>
          </div>

          <%- end %>
        </div>
      </div>

<%
  count += 1
  break if count > 20
end
%>
    </div>
