<div class="row">

  <%= render 'collection_lists' %>

  <div class="span9 main-text">
    <%= render 'selected_collection_header' %>
    <% if @items && @items.size > 0 %>
        <%= render 'selected_collection_range' %>
        <%= render 'selected_collection_items' %>
    <% end %>
  </div>

  <%= render 'modals' %>
</div>
